html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
.app {
  display: flex;
  flex-direction: column;
  margin: 0 300px;
}
.app h1 {
  font-weight: 500;
}
.notmatch {
  display: none;
  font-weight: 500;
  color: red;
  padding: 15px;
  border-left: 6px solid red;
}
.notpass {
  display: none;
  font-weight: 500;
  color: red;
  padding: 15px;
  border-left: 6px solid red;
}
.minlength {
  display: none;
  font-weight: 500;
  color: red;
  padding: 15px;
  border-left: 6px solid red;
}
.app h4 {
  display: none;
  padding: 15px;
  border-left: 6px solid red;
  color: red;
  font-weight: 500;
}
form p {
  font-weight: bold;
}
form p span {
  display: none;
  color: red;
  font-weight: 500;
}
form input {
  font-size: 1rem;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 13px;
  width: 100%;
  background-color: rgba(238, 238, 238, 0.774);
}
form select {
  height: 30px;
  width: 150px;
  border-radius: 4px;
}
form select option {
  font-size: 1rem;
  padding: 10px;
}
.checkbox input {
  width: min-content;
}

input[type="url"] {
  font-style: italic;
}
form button {
  display: flex;
  padding: 10px;
  margin: 20px 0;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  font-size: 1rem;
  background-color: #1288ef;
  color: white;
}
button:hover {
  background-color: #218ae6ce;
}
table {
  margin-top: 30px;
  font-size: 1rem;
  border-radius: 4px;
  width: 100%;
  background-color: rgba(238, 238, 238, 0.774);
}

th,
td {
  padding: 13px;
  border: 1px solid rgb(109, 109, 109);
  border-radius: 4px;
}
