*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif; 
}
a{
    text-decoration: none;
}
.imagetype1 {
    width: 50vw;
    height: auto;
    padding: 10px;
    /* background-color: black; */
}
.page1 {
    background-color: #007bff;
    height: 100vh;
}
nav{
    display: flex;
    /* overflow: hidden; */
    height: 100px; 
    align-items: center;
    justify-content: space-between;
    padding:5vw;
}
.mobile-menu-toggle, .menu-button{
    display: none;
}

#menu {
    /* background-color: blue; */
    margin: 10px;
}
#menu a {
    color: white;
    padding: 10px;
    /* background-color: aqua; */
} 

.upper{
    text-transform: uppercase;
}
.logo {
    color : #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
    /* float: left; */
    text-decoration: none !important;
}
#page1-1-text{
    width: 40vw;
    max-width: 50vw;
    height: auto;
}

.page1-1 , .page2, .page3 {
    display: flex;
    justify-content: space-around;
    padding: 0 10vw;
    /* color: #fff; */

}
.page1-1 h1{
    font-size: 2rem;
    letter-spacing: 0.3rem;
    color: #fff;
}
.page1-1 p {
    font-size: 1.3rem;
    color: #fff ;
}
.page1-1 button{
    background-color: #f55858 ;
    padding: 3% 4%;
    border-radius: 40px;
    border-style: none;
    color: #fff;
}

@media screen and (max-width: 768px) {
    /* nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    } */
    .menu{
        display: none;
    }
    .menu-button{
        display: block;
    }
    .mobile-menu-toggle:checked + .menu-button +.menu{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        width: 100%;
        height: 100%;
        padding: 20px;
        z-index: 1000;
        overflow-y: auto;
    }



    /* nav {
        flex-direction: column;
    }
    #menu{
        display: flex;
        flex-direction: column;
        background-color: black;
    } */
}

.page2 p{
    font-size: 16px;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
}
.page2 button{
    background-color: #00b4c6;
    padding: 3% 4%;
    border-radius: 40px;
    border-style: none;
    color: #fff;
}
.page2{
    /* background-color: greenyellow; */
    margin: 20px 0 20px 0;
    padding: 0 40px;
}
.page3{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.page3-1t {
    display: flex;
    flex-direction: column;
}
.page3-1-1, .page3-1-2, .page3-1-3{
    display: flex;
    flex-direction: row;
}
/* .page3-1t div img {
    float: left;
} */
.page4{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
    background : linear-gradient(
    135deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
}
.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin : 3vw;
    height: 70%;
    padding: 15px;
    border-radius: 8px;
}
.block div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block button{
    background-color: #00b4c6;
    padding: 3% 4%;
    border-radius: 40px;
    border-style: none;
    color: #fff;
}
.block img {
    padding: 2vh;
    border-radius: 50%;
    background : linear-gradient(
    135deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );

}
.page5{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100vh;
    padding: 10%;
    
}
.page5-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page5-2{
    display: flex;
    justify-content: space-around;
    
}
.page6{
    display: flex;
    justify-content:space-between ;
}
.map {
    width: 50%;
    height: auto;
    max-width: 100%;
}
/* .form{
    width: 50%;
    height: 100%;
} */
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
} 

.input, #form-button {
    width: 20vw;
    height: 3vw;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 3vh 5vw;
}
footer div a {
    padding: 20px;
}

/* .page1-1 div{
}
.page1-1 img{
} */
@media (max-width: 991px) {
    .page1-1 h1 {
        font-size: 36px;
        line-height: 50px;
        color: #fff;
        margin-bottom: 15px;
    }
}